<section ng-controller="QuotesController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="quote.title"></h1>
  </div>
  <div class="pull-right" ng-show="authentication.user.id == quote.user.id || (authentication.user.roles.indexOf('admin') && authentication.user.roles.indexOf('admin') != -1) ">
    <a class="btn btn-primary" ui-sref="quotes.edit({quoteId: quote.id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove(quote);">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="quote.created | date:'mediumDate'"></span>
      by
      <span ng-bind="quote.user.username"></span>
    </em>
  </small>
  <p class="lead" ng-bind="quote.content"></p>
</section>
